</!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ryyan's Password Blocker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
</head>

<body>
    <h1>Welcome to Ryyan's temoporary Password Blocker</h1>
    <p><a href="/time">show time</a></p>
    <p><a href="/password">show password</a></p>
    <p><a href="/setTime">set a block time</a></p>
    <p><a href="/setPassword">set your password</a></p>
    <p><a href="/setExtendTime">extend the current block time</a></p>
    <br/>
    <br/>
    <p><a href="/xboxtime">show xbox time</a></p>
    <p><a href="/xboxpassword">show xbox password</a></p>
    <p><a href="/xboxsetTime">set a xbox block time</a></p>
    <p><a href="/xboxsetPassword">set your xbox password</a></p>
    <p><a href="/xboxsetExtendTime">extend the current xbox block time</a></p>
    <br/>
    <br/>
    <p><a href="/digitaloceantime">show digitalocean time</a></p>
    <p><a href="/digitaloceanpassword">show digitalocean password</a></p>
    <p><a href="/digitaloceansetTime">set a digitalocean block time</a></p>
    <p><a href="/digitaloceansetPassword">set your digitalocean password</a></p>
    <p><a href="/digitaloceansetExtendTime">extend the current digitalocean block time</a></p>
</body>

</html>